@CHARSET "ISO-8859-1";

body {
	background-color: #FFFFFF;
	margin: 0;
	font-family: Arial, sans-serif;
}

button, a, .notificationButton{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

td {
	text-align: center;
}

.header-class a, .header-class button, .header-class .header-element, .header-class .notificationButton{
	padding: 10px;
}

.header-class {
	padding-right: 1%;
	padding-left: 1%;
	background: #5f5f5f;
	overflow: auto;
	color: white;
}

.header-class-right {
	float: right;
}

.header-class-left {
	float: left;
}

.header-class-flag {
	width: 1.3em;
	height: 0.95em;
}

.header-button {
	background-color: inherit;
}

.header-button:hover {
	background-color: #000000;
}

body > :not(.header-class ) {
	padding: 1%;
}

.panel-colum {
	width: 65%;
	text-align: left;
}

.panel-colum>div {
	margin-bottom: 3px;
}

.panel-colum-label {
	width: 35%;
	text-align: left;
}

.commandLinkToButton {
	padding: .3em 1em !important;
}

.commandLinkToAddButton {
	background: #48D1CC !important;
	color: #FFF !important;
}

.ui-operations {
	padding: 0.2em !important;
}

.deleteButton{
	margin: 0.2em;
}

th input,th div > div{
	width: -webkit-fill-available;
	min-width: 0px !important;
}

.normalTooltip > .ui-tooltip-text{
	padding: .2em;
	padding-left: .3em;
	padding-right: .3em;
}

.errorTooltip > .ui-tooltip-text{
	padding: 0px !important;
}
.errorTooltip > .ui-tooltip-text > div{
	margin: 0px !important;
}
.errorTooltip > .ui-tooltip-arrow{
	border-bottom-color: #f2dede;
}

.notification{
}

.chartPie{
	height:20em;
}

.dropdown-list{
	background-color: #6f6f6f;
	color: #ffffff;
    display: none;
    position: absolute;
    min-width: 160px;
    max-width: 5%;
    z-index: 1;
}

.dropdown-content {
    z-index: 1;
    overflow-x: visible;
    padding: 10px;
    -webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.dropdown-content > a{
    padding: 0px;
}

.dropdown-content:hover {
	background-color: #9f9f9f;
}

.show{
	display: block;
}
.notificationButton{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.notificationButton > span{
	padding: 0px !important;
}