@CHARSET "ISO-8859-1";

body {
	background-color: #F0F0F0;
	margin: 0;
}
.header-class{
	background: #906090;
	padding: 1%;
	overflow: auto;
}
.header-class-right{
	float: right;
}
.header-class-left{
	float: left;
}
.header-class-flag{
	width: 70px;
	height: 50px;
	padding: 10px;
	padding-bottom:15px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.header-class-flag:hover{
	width: 77px;
	height: 55px;
	padding: 10px;
	padding-bottom:10px;
}
.header-menu-button{
	padding: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    background-color: #4C8C50;
}
.header-menu-button:hover {
    background-color: #4CAF50;
    color: white;
}
.header-button-logout{
	padding: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    background-color: #8C4C50;
}
.header-button-logout:hover {
    background-color: #AF4C50;
    color: white;
}
.header-menu{
	margin: 30px;
	margin-top: 10px;
}
